<!DOCTYPE html>
<html ng-app="Application" ng-controller="Controller">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' 'unsafe-eval' 'self' <%= apiOriginHostname %>; img-src 'self' <%= apiOriginHostname %>;" />

    <title> Cloudron </title>

    <link id="favicon" href="/api/v1/cloudron/avatar" rel="icon" type="image/png">

    <!-- Theme CSS -->
    <link href="theme.css" rel="stylesheet" type="text/css">

    <!-- external fonts and CSS -->
    <link href="3rdparty/css/font-awesome.min.css" rel="stylesheet" rel="stylesheet" type="text/css">

    <!-- jQuery-->
    <script src="3rdparty/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="3rdparty/js/bootstrap.min.js"></script>

</head>

<body class="status-page">

<div class="wrapper">
    <div class="content">
        <h1>
            <img id="avatar" width="48" height="48" src="/api/v1/cloudron/avatar" onerror="this.src = '/img/logo.png'"/>
            <span style="padding-left:10px">Cloudron</span>
        </h1>
        <br/>
        <h4>There is no app configured for this domain.</h4>
        <h4>Use the <a href="/">settings panel</a> and install an app leaving the location empty.</h4>
    </div>
</div>

<footer class="text-center">
    <span class="text-muted">&copy;2018 <a href="https://cloudron.io" target="_blank">Cloudron</a></span>
    <span class="text-muted"><a href="https://twitter.com/cloudron_io" target="_blank">Twitter <i class="fa fa-twitter"></i></a></span>
    <span class="text-muted"><a href="https://chat.cloudron.io" target="_blank">Chat <i class="fa fa-comments"></i></a></span>
</footer>

<script>

$(function() {
    var avatarUrl = '/api/v1/cloudron/avatar?' + Math.random();

    $('#favicon').attr('href', avatarUrl);
    $('#avatar').attr('src', avatarUrl);
});

</script>

</body>
</html>
