<br/>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Logs</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="filter">
      <select class="form-control" ng-options="log.name for log in logs track by log.value" ng-model="selected"></select>
    </div>
    <div class="pagination pull-right">
      <button class="btn btn-default btn-outline" ng-click=""><i class="fa fa-download"></i> Download </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card card-block log-line-container">
    </div>
  </div>
</div>

<!-- Offset the footer -->
<br/><br/>
