<!-- <div class="logs-main"> -->

  <div class="logs-controls">
    <div class="col-md-10 col-md-offset-1">
      <uib-tabset active="active">
        <uib-tab index="0" heading="Logs" select="showLogs()"></uib-tab>
        <uib-tab index="1" heading="Terminal" select="showTerminal()"></uib-tab>
      </uib-tabset>
      <select class="form-control pull-right inline" ng-options="log.name for log in logs track by log.value" ng-model="selected"></select>
      <a class="btn btn-default pull-right" ng-href="{{ selected.url }}&format=short&lines=800" ng-hide="terminalVisible"><i class="fa fa-download"></i> Download </a>
    </div>
  </div>

  <div class="logs-and-term-container"></div>

<!-- </div> -->
